<p>Potencialių taršos židinių sąrašas parengtas pagal
  <a target="_blank" href="https://www.lgt.lt/epaslaugos/index.xhtml#">atvirus Lietuvos geologijos tarnybos duomenis</a>
  (paskutinį kartą atnaujintus 2023 m. vasario mėn.). Žemėlapį parengė Seimo aplinkos apsaugos komiteto narys Kasparas Adomaitis. Daugiau apie mano veiklą galite
  <a target="_blank" href="http://kasparasadomaitis.lt">rasti čia</a>.</p>