<p>Lietuvos geologijos tarnyba per dešimtmečius trukusius projektus Lietuvoje nustatė daugiau nei 12,000 potencialiai užterštų teritorijų.</p>
<p>Nebūtinai kiekviena tokia vieta yra užteršta - tiesiog toje vietoje vykdoma tarši veikla. Šiuo metu taršią veiklą vykdančią vietų yra virš 6,000. Tai įvairūs objektai - degalinės, sąvartynai, cheminė pramonė, autoservisai ir begalė kitų variantų.</p>
<p>Tačiau šis žemėlapis yra sudarytas NE dėl šių 6,000 veikiančių objektų.</p>
<p>Kur kas didesnis iššūkis, nerimas ir pavojus kyla dėl likusių &gt;6,000 vietų. Jei veikiančiose potencialiose taršos vietose Lietuvos geologijos tarnyba įpareigoja vykdančius veiklą nuolat stebėti aplinkos būklę - kokia paviršinių vandenų, požeminių vandenų ar dirvožemio tarša, tai apleistų teritorijų būklės absoliučioje daugumoje atvejų niekas nestebi.&nbsp;</p>
<p>Apleistos potencialios taršos vietos gali būti buvę pesticidų sandėliai, naftos bazių teritorijos ar kitos vietos. Nesant būklės stebėjimų, dažnai net nežinoma, ar iš potencialaus taršos židinio prasisunkia tarša. Lietuvos geologijos tarnyba yra inventorizavusi vietas, kuriose kyla didžiausias pavojus dirvožemiui ar požeminiam/paviršiniam vandeniui.</p>