<ol>
  <li>Nedelsiant ištirti ir įvertinti potencialiai užterštas vietas, kuriose nėra monitoringo ir nėra vykdoma veikla</li>
  <li>Ten, kur tarša patvirtinama, vykdyti monitoringą</li>
  <li>Nusimatyti lėšų šaltinius, nustatyti prioritetus ir sutvarkyti užterštas teritorijas</li>
</ol>