<p>Atlikus preliminarius tyrimus, nebūtų įmanoma išvalyti visko nedelsiant. Daugeliu atveju valymas nebūtų prasmingas - kainuotų per daug, o itin efektyvių, greitų ir paprastų sprendimų dažnai net nėra. Pavyzdžiui, sunkiųjų metalų išvalymas yra praktiškai neįmanomas - kai kuriais, labiau eksperimentiniais, bandymais auginami augalai, kurie šiuos metalus akumuliuotų savyje.</p>
<p>Tačiau, patvirtinus taršos egzistavimo faktą, aplinkos monitoringas būtų būtinas - taršai plečiantis turėtų būti imamasi aktyvių veiksmų jai stabdyti ar vis tik teritoriją imtis valyti net ir brangiais metodais.&nbsp;</p>
<p>Šiandien veikiančiose taršos vietose už monitoringą atsakinga įmonė, kurį tą veiklą vykdo. Istorinės taršos atvejais ši pareiga turi būti aiškiai apibrėžta ir priskirta atsakingai institucijai.</p>